{% extends "base.html.twig" %}

{% block body %}
<div class="page-header header-filter" style="background-image: url('/material-kit-master/assets/img/bg7.jpg'); background-size: cover; background-position: top center;">

	<div class="container">
		<div class="row">
			<div class="col-lg-4 col-md-6 ml-auto mr-auto">
				<div class="card card-login">
                    <form action="{{ path('login') }}" method="post">
						<div class="card-header card-header-primary text-center">
							<h4 class="card-title">Connexion</h4>
						</div>
						<div class="card-body">
							<form action="{{ path('login') }}"method="post">
							<div class="input-group">
								<div class="input-group-prepend">
									<span class="input-group-text"></span>
								</div>
                            <input placeholder="Adresse email ..." type="text" require name="_username" class="form-control">


							</div>
							<div class="input-group">
								<div class="input-group-prepend">
									<span class="input-group-text">
                                        <br>
									</span>
								</div>
                                    
                                <input placeholder="Mot de passe..." type="password" require name="_password" class="form-control">



							</div>
						<div class="footer text-center">
                            <button type="submit" class="btn btn-succes">
                                    Connexion
                            </button>

						</div>
					</form>
				</div>
			</div>
		</div>
	</div>



{% endblock %}
