{% extends 'base.html.twig' %}

{% block body %}
  <div id="page_entiere" style="width:100%;">
    
      <div id="page_droite" style="float:right; width:75%;">
        <div id="espace_titre" data-role="header" data-position="fixed" data-tap-toggle="false" data-update-page-padding ="false">
          <input class="retour" type="button" value="     RETOUR" onclick="goBack()">
          <h2>WELCOME</h2> </div>
	  <div id="contenu" align="left">
	    <h3>Here's how it works !</h3>

		 
	   </div>
	 </div>
  </div>
{% endblock %}
