{% extends 'base.html.twig' %}

{% block body %}
<div class="page-header header-filter" data-parallax="true" style="background-image: url('/material-kit-master/assets/img/home.jpg')">

            <div class="container">
              <div class="row">
                <div class="col-md-6">
          

         
            {% if app.user %}
            <h1 class="title">Welcome to moodle, here's how it works !</h1>
              <h4>   Go accede a tes cours pour commencer ! </h4>
            {% else %}
            <h1 class="title">Welcome to moodle, here's how it works !</h1>
            <h4>Clique sur le menu pour te connecter ou t'inscrire </h4>
            {% endif %}
          </h4>

          </div>
        </div>
      </div>
    </div>

  
  

{% endblock %}
