{% extends 'base.html.twig' %}

{% block body %}
	
<h2> PAGE MODIFICATION DE <  > </h2>

<div id="submitt">
    <div>
    <h3>Ajouter une ligne</h3>
            <table>
                <tbody id="line">
                    <tr>
                        <td><input type="text" name="line" placeholder="contenu de la ligne"></td>
                        <td><button id="remove" class="remove">-</button></td>
                    </tr>
                    <tr>
                        <td><input type="text" name="line" placeholder="contenu de la ligne"></td>
                        <td><button id="remove" class="remove">-</button></td>
                    </tr>
                </tbody>
            </table>
            <button id="addRowLine" class="remove">Ajouter une nouvelle ligne</button>
        </div>
    <div>
	<h3>Ajouter une solution</h3>
        <table>
            <tbody id="solution">
                <tr>
                    <td><input type="text" name="solution" placeholder="contenu de la solution"></td>
                    <td>
                        <button id="remove" class="remove">-</button>
                    </td>
                </tr>
            </tbody>
        </table>
        <button id="addRowSolution" class="remove">Ajouter une nouvelle Solution</button>
    </div>
    <button id="getValues" class="remove">Get Values</button>
</div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
<script>
var htmlLine = '<tr><td><input type="text" name="line" placeholder="contenu de la ligne"></td><td><button class="remove">-</button></td></tr>';
var htmlSolution = '<tr><td><input type="text" name="solution" placeholder="contenu de la solution"></td><td><button class="remove">-</button></td></tr>';
 
$(document).ready(function() {

    $('tbody').sortable;

    $('#addRowLine').click(function(){
        $(line).append(htmlLine);
    });

    $('#addRowSolution').click(function(){
        $(solution).append(htmlSolution);
    });
 
    $(document).on('click', '.remove', function() {
        $(this).parents('tr').remove();
    });
 
    $('#submitt').submitt(function(event){
        
        event.preventDefault();

        var lines  = [];
        var line = {};
        $('input[name="line"]').each(function(i, elem){
            line["contenu"] = $(elem).val();
            line["numero"] = i;
            lines.push(JSON.stringify(line));
            console.log(JSON.stringify(line));

        });
        var solutions = [];
        var solution = {};
        $('input[name="solution"]').each(function(i, elem){
            solution["contenu"] = $(elem).val();
            solutions.push(solution);
        });
        alert(JSON.stringify(lines));
        alert(JSON.stringify(solutions));
        console.log(window.location.pathname);
        
        $.ajax({
			type: "POST",
            url : window.location.pathname,
            data: {line: lines, solution: solutions},
			success: function (response) {
                console.log({line: JSON.stringify(lines), solution: JSON.stringify(solutions)});
                if(response.d == null || response.d == undefined){
                    alert("c'est null eh");
                } else {
                    alert("SUCCESS : ", response);
                }
			}
		});      
    });
});


});
</script>

{% endblock %}
